<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap"
        rel="stylesheet">
    {%- seo -%}
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <script src="{{ '/assets/theme-changer.js' | relative_url }}"></script>
    <script src="{{ '/assets/script.js' | relative_url }}" defer></script>
    {%- feed_meta -%}
</head>
