// Font Families
$main-ff: 'Open Sans', sans-serif;
$site-name-ff: 'Audiowide', cursive;
$title-ff: 'Roboto', sans-serif;
$code-ff: 'Roboto Mono', monospace;
// Font Colors
$main-fg: black;
// Backgrounds
$body-bg: #f5f5f5;
// Borders
$border-style: 1px solid lightgray;
$border-rad: 10px;

body {
    background-color: $body-bg;
    max-width: 900px;
    padding: 14px;
    margin: auto;
}

a, div, p, ul, li, time {
    font-family: $main-ff;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $title-ff;
    font-weight: normal;
}

a {
    color: #2a7ae2;
    text-decoration: none;

    
}

a:visited {
    color: #226ac9;
}

a:hover {
    text-decoration: underline;
}

header.body-header {
    display: flex;
    align-items: center;
    border-bottom: $border-style;
    
    h1 {
        margin-right: auto;
        
        a {
            font-family: $site-name-ff;
            margin-bottom: 0;
            font-size: 0.82em;
        }
    }
    
    a{
        color: $main-fg;
    }

    a:visited {
        color: $main-fg;
    }
    
    nav {
        display: flex;
        gap: 15px;
    }
}

.posts, p, ul, ol {
    background-color: darken($body-bg, 2);
    border-radius: $border-rad;
    padding: 10px;
    list-style-position: inside;
}

pre.highlight {
    padding: 8px 12px;

    code {
        padding: 0;
    }
}

code {
    padding: 1px 5px;
}

pre.highlight, code {
    font-family: $code-ff;
    font-size: 0.9em;
    border-radius: $border-rad;
    background-color: darken($body-bg, 11);
}

blockquote {
    color: lighten($main-fg, 50);
    border-left: 4px solid grey;
    margin: 0;
    padding-left: 15px;
    letter-spacing: -1px;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 4px solid darken($body-bg, 45);
    margin: 10px 0;

    thead {
        background-color: darken($body-bg, 45);
        color: white;
    }

    thead tr :first-child {
        border-top-left-radius: $border-rad;
    }

    thead tr :last-child {
        border-top-right-radius: $border-rad;
    }

    thead th {
        padding: 10px;
    }

    tbody tr td {
        border-bottom: 1px solid darken($body-bg, 30);
        border-right: 1px solid darken($body-bg, 30);
    }

    tbody tr :last-child {
        border-right: none;
    }

    tbody tr:last-child>td {
        border-bottom: none;
    }

    tbody tr td {
        padding: 8px;
    }
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;

    article {
        padding: 20px;
        background-color: darken($body-bg, 8);
        border-radius: $border-rad;
    }

    article:hover {
        transition-duration: 500ms;
        background-color: darken($body-bg, 12);
    }

    time {
        color: lighten($main-fg, 50);
        font-size: 0.9em;
    }

    p {
        background-color: darken($body-bg, 8);
    }
}

.post header {
    margin-bottom: 30px;

    h1 {
        font-size: 2.4em;
        margin-bottom: 18px;
    }

    .meta {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: lighten($main-fg, 50);
        font-size: 0.9em;
    }
}

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    border-top: $border-style;

    h1 {
        font-size: 1.2em;
        margin: 0;
    }
}

// Different Screen Sizes
@media(max-width: 800px) {
    .posts {
        grid-template-columns: repeat(2, auto);
    }
}

@media(max-width: 600px) {
    .posts {
        grid-template-columns: repeat(1, auto);
    }
}
