---
layout: default
---

{%- include breadcrumb.html -%}

<article class="panel post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name headline">{{ page.title }}</h1>
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <div class="meta">
            <time datetime="{{ page.date | date: '%F' }}" itemprop="datePublished">{{ page.date | date: date_format }}</time>
            <span>{{ page.categories | join: ", " }}</span>
        </div>
    </header>
    <div itemprop="articleBody">
        {{ content }}
    </div>
</article>
